/* 
GENERAL
*/

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  }

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 70%;
  max-width: 1200px;
  margin: auto;
  background-color: white;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: grey;
}

footer{
  height: 50px;
  margin-bottom: 20px;
}

.banner{
  height: 500px;
}


a{
  text-decoration: none;
}

/* 
UTILITY CLASS
*/

.col{
  float: left;
}

.bottom-margin{
  margin-bottom: 20px;
}

.bottom-margin-half{
  margin-bottom: 7.5px;

}

.overlay-background{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

/* 
HEADER
*/

.logo-box{
  border-right: 0.5px solid gray;
  width: 14%;
}

.logo{
  width: 90%;
}

nav ul li{
  list-style: none;
  display: inline-block;
  padding: 15px 15px 15px 0;
}


nav a{
  color: grey;
  text-transform: uppercase;
  
}

nav a:hover{
  color: red;  
}


/* 
BANNER SECTION
*/

.primary-banner{
  width: 100%;
  background-image: url('/img/banner.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
}

.banner-text-box{
  color: white;
  width: 55%;
  padding-top: 27%;
  padding-left: 50px;
  
}
.banner-text-box p:first-of-type{
  font-size: 29px;
}

/* 
MAIN
*/

aside{
  width: 19%;
  margin: 25px 0;
}

.mid-col{
  width: 60%;
  margin: 25px 1%;

}

.col-title,h1 {
  color: black;
  padding:10px 0;
  
}

.main-secondary-banner{
  height: 200px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  border-radius: 20px;
  overflow: hidden;
}

.main-banner-left{
  background-image: url('/img/img-1.jpg');
  }

.main-banner-center{
  background-image: url('/img/banner-2.jpg');
  }

.main-banner-right{
  background-image: url('/img/img-3.jpg');
  }


/* 
FOOTER
*/

  footer p{
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
  }

  .red-heart{
    color: red;
  }