/* 
GENERAL
*/

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  }

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 70%;
  max-width: 1200px;
  margin: auto;
  background-color: white;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: grey;
}

/* header{ */
  /* height: 120px; */
   /* Da togliere successivamente */
  /* background-color: #e579e6; */
/* } */

footer{
  height: 50px;
   /* Da togliere successivamente */
  background-color: #8802fe;
  margin-bottom: 20px;
}

main{
  
  /* Da togliere successivamente */
  background-color: #0283fe;
  height: 600px;
}

.banner{
  height: 500px;
  background-color: #e1d77a;
}


a{
  text-decoration: none;
}

/* 
UTILITY CLASS
*/

.col{
  float: left;
  background-color: orange;
}

.bottom-margin{
  margin-bottom: 20px;
}

.bottom-margin-half{
  margin-bottom: 7.5px;

}


/* 
HEADER
*/

.logo-box{
  border-right: 0.5px solid gray;
  width: 14%;
}

.logo{
  width: 90%;
}

nav ul li{
  list-style: none;
  display: inline-block;
  padding: 15px 15px 15px 0;
}


nav a{
  color: grey;
  text-transform: uppercase;
  
}

nav a:hover{
  color: red;  
}


/* 
BANNER SECTION
*/

.primary-banner{
  width: 100%;
  background-image: url('/img/banner.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
}

.overlay-background{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.banner-text-box{
  color: white;
  width: 55%;
  padding-top: 27%;
  padding-left: 50px;
  
}
.banner-text-box p:first-of-type{
  font-size: 29px;
}

/* 
MAIN
*/

/* Da togliere successivamente */
.top-main, .col{
  background-color: #abcfe6;
}
/* /Da togliere successivamente */


.top-main{

  /* Da togliere successivamente */
  /* height: 50px; */
}

aside{
  width: 19%;
  margin: 25px 0;
  
  /* Da togliere successivamente */
  height: 500px;
}

.mid-col{
  width: 60%;
  margin: 25px 1%;

  /* Da togliere successivamente */
  height: 500px;
}

.col-title,h1 {
  color: black;
}

.col-title{
  padding-bottom: 5px;
}

.h1{
  padding-bottom: 5px;
}